@model DAL.Models.Product

@{
    ViewData["Title"] = "Create";

}

<h1>Create</h1>
<h4>Product</h4>
<hr />
@*<input readonly="readonly" id="input" class="form-control" />

<button onclick="generateCzarnyMFI50()">CzarnyMFI50</button>*@
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @Html.ValidationMessage("nullTagId", new { @class = "text-danger" })
            @*@Html.ValidationMessage("tagId", new { @class = "text-danger" })*@

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ExtruderName" class="control-label"></label>
                @Html.DropDownListFor(x => x.ExtruderName.Id, new SelectList(ViewBag.extList, "Id", "Name"), "--Wybierz--", new { @class = "form-control" })
                <span asp-validation-for="ExtruderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TagId" class="control-label"></label>
                <input asp-for="TagId" class="form-control" disabled />
                <span asp-validation-for="TagId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaterialType" class="control-label"></label>
                <input asp-for="MaterialType" class="form-control" />
                <span asp-validation-for="MaterialType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Characeteristic" class="control-label"></label>
                <input asp-for="Characeteristic" class="form-control" />
                <span asp-validation-for="Characeteristic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Worker1" class="control-label"></label>
                @Html.DropDownListFor(x => x.Worker1.Id, new SelectList(ViewBag.list, "Id", "Name"), "---Select---", new { @class = "form-control" })
                <span asp-validation-for="Worker1.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Worker2" class="control-label"></label>
                @Html.DropDownListFor(x => x.Worker2.Id, new SelectList(ViewBag.list1, "Id", "Name"), "---Select---", new { @class = "form-control" })
                <span asp-validation-for="Worker2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


@*<script>
    function generateCzarnyMFI50() {
        event.preventDefault();
        $.get(
            "/Product/CzarnyMFI50",
            function (data) {
                document.getElementById("input").value = data;
                
            }
        );
    }
</script>*@